@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?e4df8p');
  src:  url('../fonts/icomoon.eot?e4df8p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?e4df8p') format('truetype'),
    url('../fonts/icomoon.woff?e4df8p') format('woff'),
    url('../fonts/icomoon.svg?e4df8p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="elextra-icon-"], [class*=" elextra-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.elextra-icon-analysis:before {
  content: "\e900";
}
.elextra-icon-auction:before {
  content: "\e901";
}
.elextra-icon-avatar:before {
  content: "\e902";
}
.elextra-icon-bulb:before {
  content: "\e903";
}
.elextra-icon-bulb1:before {
  content: "\e904";
}
.elextra-icon-close:before {
  content: "\e905";
}
.elextra-icon-closeBar:before {
  content: "\e906";
}
.elextra-icon-data:before {
  content: "\e907";
}
.elextra-icon-delete:before {
  content: "\e908";
}
.elextra-icon-down:before {
  content: "\e909";
}
.elextra-icon-excel:before {
  content: "\e90a";
}
.elextra-icon-finance:before {
  content: "\e90b";
}
.elextra-icon-gotop:before {
  content: "\e90c";
}
.elextra-icon-home:before {
  content: "\e90d";
}
.elextra-icon-info:before {
  content: "\e90e";
}
.elextra-icon-item:before {
  content: "\e90f";
}
.elextra-icon-kpi:before {
  content: "\e910";
}
.elextra-icon-lab:before {
  content: "\e911";
}
.elextra-icon-leave:before {
  content: "\e912";
}
.elextra-icon-left:before {
  content: "\e913";
}
.elextra-icon-loan:before {
  content: "\e914";
}
.elextra-icon-lock:before {
  content: "\e915";
}
.elextra-icon-magnifier:before {
  content: "\e916";
}
.elextra-icon-mall:before {
  content: "\e917";
}
.elextra-icon-mall1:before {
  content: "\e918";
}
.elextra-icon-market:before {
  content: "\e919";
}
.elextra-icon-market1:before {
  content: "\e91a";
}
.elextra-icon-market2:before {
  content: "\e91b";
}
.elextra-icon-myLoan:before {
  content: "\e91c";
}
.elextra-icon-open:before {
  content: "\e91d";
}
.elextra-icon-openBar:before {
  content: "\e91e";
}
.elextra-icon-operate:before {
  content: "\e91f";
}
.elextra-icon-period:before {
  content: "\e920";
}
.elextra-icon-period1:before {
  content: "\e921";
}
.elextra-icon-point:before {
  content: "\e922";
}
.elextra-icon-privilage:before {
  content: "\e923";
}
.elextra-icon-promotion:before {
  content: "\e924";
}
.elextra-icon-repay:before {
  content: "\e925";
}
.elextra-icon-right:before {
  content: "\e926";
}
.elextra-icon-rocket:before {
  content: "\e927";
}
.elextra-icon-table:before {
  content: "\e928";
}
.elextra-icon-toy:before {
  content: "\e929";
}
.elextra-icon-toy1:before {
  content: "\e92a";
}
.elextra-icon-up:before {
  content: "\e92b";
}
.elextra-icon-user:before {
  content: "\e92c";
}
